nav{
  display: flex;
  gap: 40px;
  background-color: cornflowerblue;
}

li{
  list-style: none;
  padding: 20px;
}

a li{
  color: white;
}

*{
  padding: 0;
  margin: 0;
}

.crimson{
  background-color: crimson;
  color: white;
}
.darkblue{
  background-color: darkblue;
  color: white;
}
.darkmagenta{
  background-color: darkmagenta;
  color: white;
}



