# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm/

# Environment files
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
